.para1{
    text-align: justify;
}

.hero {
    top: 10%;
    left: 50%;
    color: rgba(0, 0, 0, 0.429);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    padding-bottom: 2em;
    padding-top: 3em;

}
.hero h1 {
    font-size: 2em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.con1{
    padding-bottom: 5em !important;
}
