@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container1{
    position: relative;
}
/* container for music player */
.container2 {
    position: absolute;
    height: 60pt;
    width: 240pt;
    margin: auto;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
}

/* container for play, pause, previous track, next track, and progress bar  */
.box {
    position: absolute;
    height: auto;
    width: 105%;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
    z-index: 4;
}

/* track title */
.song-title {
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    bottom: 50%;
    justify-content: center;
}

/* style for play and pause images */
#play-pause {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 15%;
    z-index: 4;
    font-size: 50px;
    left: 5%;
}

/* style for next and previous song images */
#next-song, #previous-song {
    position: absolute;
    height: 20px;
    width: 20px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
}

/* unique style for next song image */
#next-song {
    right: 6%;
}

/* unique style for previous song image */
#previous-song {
    right: 6.2%;
    bottom: 41.5%;
}

/* style for current time of the track */
.currentTime {
    position: absolute;
    height: 14.5px;
    width: 50px;
    cursor: pointer;
    bottom: 4%;
    left: 17%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    align-items: center;
}

/* style for the total length of the track */
.durationTime {
    position: absolute;
    height: 14.5px;
    width: 50px;
    cursor: pointer;
    bottom: 4%;
    right: 11%;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    align-items: center;
    color: rgb(193, 255, 6);
}

/* style for the progress bar */
#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 4;
    height: 5px;
    background: #000000;
    width: 160pt;
    bottom: 30%;
    border-radius: 30px;
    left: 17%;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 7px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(213, 213, 213), rgb(193, 255, 6));
    border-radius: 30px;
    cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progress-bar:focus {
    outline: none;
}